<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="resourcePoolType" value="DP_VM"/>
    <add key="client_id" value="HxGuiClient" />
    <add key="client_secret" value="Sunnyvale" />
    <add key="redirect_uri" value="http://localhost/aaa/redirect" />
  </appSettings>
</configuration>


